<div class="col-md-10 offset-1">
    <div class="card bg-light mb-3">
        <div class="card-header text-center text-muted">
            <h3 class="card-title">Mapa del sitio</h3>
            <p class="card-text">Esta sección le ayudará a localizar los distintos contenidos en forma de listado para facilitar la ubicación de la información dentro de nuestro sitio Web</p>
        </div>
        <div class="card-body">
            <div class="grid-container">
                <div class="card bg-light mb-3">
                    <div class="card-body ">
                        <h5 class="card-title">Genreal</h5>
                        <ul class="list-group list-group-flush text-danger">
                            <li class="list-group-item">Inicio</li>
                            <li class="list-group-item">Mapa del sitio</li>
                            <li class="list-group-item">Contactenos</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Nosotros</h5>
                        <ul class="list-group list-group-flush text-danger">
                            <li class="list-group-item">Inicio</li>
                            <li class="list-group-item">Mapa del sitio</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Siganos</h5>
                        <ul class="list-group list-group-flush text-danger">
                            <li class="list-group-item">Facebook</li>
                            <li class="list-group-item">Instagram</li>
                            <li class="list-group-item">Google-plus</li>
                            <li class="list-group-item">LinkedIn</li>
                            <li class="list-group-item">Twiter</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Servicios</h5>
                        <ul class="list-group list-group-flush text-danger">
                            <li class="list-group-item">Planea tu viaje</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>