img {
    margin-left: 10%;
    width: 80%;
    height: 330px;
}

.carousel-control-next,
.carousel-control-prev {
    background: black;
    width: 100px;
    height: 450px;
}

.carousel-control-next:active,
.carousel-control-prev:active {
    background: blue;
}

a {
    color: black;
}