<div class="col-md-10 offset-1">
    <div class="card border-dark mb-3">
        <div class="card-body">
            <h2>Noticias</h2>
            <ngb-carousel>
                <ng-template ngbSlide *ngFor="let noticia of imagesNoticias">
                    <a href="{{noticia['link']}}"><img [src]="noticia['ruta']" alt="{{noticia['descripcion']}}"></a>
                    <div class="carousel-caption">
                        <h3>{{noticia['titulo']}} </h3>
                        <p>{{noticia['descripcion']}}</p>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>