img {
    margin: 0px;
    width: 100%;
    height: 330px;
}

.carousel-control-next,
.carousel-control-prev {
    background: black;
    width: 100px;
    height: 100%;
}

.carousel-control-next:active,
.carousel-control-prev:active {
    background: #7C7D7D;
}

a {
    color: black;
}

.ban {
    margin-left: 100px;
    margin-right: 100px;
}